### 122XSUP - Strojové učení a umělá inteligence v prostředí Python

<h5 style='color:orange'><em>Week 1: VSCode. Notebook Jupyter. Základy Python. Datové typy, proměnné, operátory a operandy.</em></h5>

#### Intro

Tip: https://www.w3schools.com/python/

* Hello world! 
* python --version
* Python Indentation
* PEP 8
* Python Comments

In [1]:
# Two rows
print('Hello world!')
print("Hello world!")

Hello world!
Hello world!

In [2]:
# One row
print("Hello world!", end="")
print("Hello world!")

Hello world!Hello world!

In [3]:
# One row with separator "spacebar" by default
print("Hello world!", "Hello world!")

# One row with separator ";"
print("Hello world!", "Hello world!", sep=";")

# One row without separator
print("Hello world!", "Hello world!", sep="")

Hello world! Hello world!
Hello world!;Hello world!
Hello world!Hello world!

In [4]:
# Magic command: terminal
!python -V

Python 3.11.5

In [5]:
# Magic command: terminal
!dir

 Volume in drive C is Windows
 Volume Serial Number is EACB-BB14

 Directory of c:\Users\Admin\Desktop\122XSUP\Week_01

26.09.2023  11:12    <DIR>          .
26.09.2023  11:12    <DIR>          ..
26.09.2023  11:15    <DIR>          .my_env_01
26.09.2023  11:09            25�635 122XSUP_ZS2023_Week_1.ipynb
26.09.2023  10:56                86 main.py
26.09.2023  10:55                90 modul.py
26.09.2023  10:58    <DIR>          __pycache__
               3 File(s)         25�811 bytes
               4 Dir(s)  67�233�550�336 bytes free

In [6]:
# Python identation: tabulator = 4 spacebars
a = 10

if a == 10:
    print(10)
else:
    print("Not 10")

10

In [7]:
#  one row comment
a = 10  # own int variable

"""
Multi rows comment:
01 Python Tutorial for Beginners
with VS Code.docx
"""

b = "Test"

'''
Multi rows comment:
01 Python Tutorial for Beginners
with VS Code.docx
'''

'\nMulti rows comment:\n01 Python Tutorial for Beginners\nwith VS Code.docx\n'

#### Data types

* int: 0, 1515, -45
* str: 'Ahoj', '125', 'Hello world!', "Dobrý den"
* bool: True, False
* float: 0.0, 10.55464, -5.002

In [8]:
# Integer: int

a = 10

b = 0

c = -100100999

type(a)

int

In [9]:
# Float: float

a = 10.01

b = 0.0005

c = -1001.985

type(a)

float

In [10]:
# Bool: bool

a = True

b = False

type(a)

bool

In [11]:
# String: str

a = "Text"

b = 'Other Text'

c = 'Oth"er" Text'

d = "Oth\"er\" Text"

e = """Few rows text
Other row
One more
"""

type(d)

str

#### Variables

* Variables names: Camel case, Snake case, Pascal case
* Allowed names: Letters _ Numbers
* Names != name != NAMES
* Creating without declarationg
* type()
* a, b, c = 1, 'Hello', False
* d = e = 5
* Local and Global
* int(), float(), str(), bin()
* isinstance(x, int)
* bool(), >, <, ==, !=, >=, <=, is, is not

In [12]:
# Camel case
myOwnVariable = 2

# Snake case
my_own_variable = 3

# Pascal case
MyOwnVariable = 2

In [13]:
#  Allowed variables name
_ = 1
my_variables = 1
my542 = 1

In [14]:
#  Forbiden variables name
54as = 1
my_variables@as = 1
def = 1

SyntaxError: invalid decimal literal (551758755.py, line 2)

In [15]:
name = 1
Name = 2
NAME = 3
print(f'name = {name}, Name = {Name}, NAME = {NAME}')

name = 1, Name = 2, NAME = 3

In [16]:
# Python donnt need declaration

# Creating variable, but : int only for information
a: int = 1

a = 1
print(f'"a" is a {type(a)} type')

b = 1.2
print(f'"b" is a {type(b)} type')

c = "Text"
print(f'"c" is a {type(c)} type')

d = True
print(f'"d" is a {type(d)} type')

"a" is a <class 'int'> type
"b" is a <class 'float'> type
"c" is a <class 'str'> type
"d" is a <class 'bool'> type

In [17]:
# Creating variables in one row

a, b, c = 1, 'Hello', False

print(a, b, c)

d = e = 2

print(d, e)

1 Hello False
2 2

In [18]:
# Global variable
a = 4

def own_function():
    # Local variable
    a = 5

own_function()
print(a)

4

In [19]:
# Global variable
a = 4

def own_function():
    # Global variable
    global a
    a = 5

own_function()
print(a)

5

In [20]:
a = 5.4

int(a)

5

In [21]:
b = 5

float(b)

5.0

In [22]:
c = "125"

int(c)

125

In [23]:
c = 132

str(c)

'132'

In [24]:
a = 0

bool(a)

False

In [25]:
d = True

int(d)

1

In [26]:
# Binary to Int
int("11", 2)

3

In [27]:
# Int to Binary
bin(3)

'0b11'

In [28]:
a = 5

isinstance(a, int)

True

In [29]:
a = 5

isinstance(a, float)

False

In [30]:
a = 5
b = 2

a == b

False

In [31]:
a = 5
b = 2

a != b

True

In [32]:
a = 5
b = 2

a < b

False

In [33]:
a = True
b = False
a is b

False

In [34]:
a = True
b = False
a is not b

True

#### Operators

Arithmetic Operators:
* Addition:          +
* Subtraction:       -
* Multiplication:    *
* Division:          /
* Modulus:           %
* Exponentiation:    **
* Floor division:    //

Assignment Operators:
* +=
* -=
etc.

Logical Operators:
* and
* or
* not

In [35]:
# Modulus
5 % 3

2

In [36]:
# Floor division
5 // 3

1

In [37]:
# Exponention
5 ** 3

125

In [38]:
a = 2
a += 2
a

4

In [39]:
a = True
b = False

a and b

False

In [40]:
a = True
b = True

a and b

True

In [41]:
a = True
b = False

a or b

True

In [42]:
a = True
b = False

a is not b

True

#### Import

* import math
* import math as m
* from math import sqrt
* from math import sqrt as sq
* users import
* \_\_name\_\_ == \_\_main\_\_

In [43]:
import math

math.sqrt(16)

4.0

In [44]:
from math import sqrt

sqrt(16)

4.0

In [45]:
import math as m

m.sqrt(16)

4.0

In [46]:
#  import own package from file modul.py
import modul

modul.sqrt_own(16)

4.0

In [47]:
# Recommend: main.py could obtain
# It protect run modul without main program
if __name__ == "__main__":
    print(modul.sqrt_own(5.5))

2.345207879911715

#### Function

* def function():
* input parameters
* output parameters / return
* args and kwargs

In [48]:
# Void function without arguments
# Using for starting project or for making structure of program
def my_function():
    pass

In [49]:
# Function with two arguments
def my_function(a, b):
    return a ** b

my_function(2, 4)

16

In [50]:
# Function with two arguments
def my_function(a, b):
    return a ** b

my_function(b=2, a=4)

16

In [51]:
# Function with two arguments and one optional argument
def my_function(a, b, c=0):
    return a ** b + c

print(my_function(2, 4))
print(my_function(2, 4, 3))

16
19

In [52]:
# Function with two arguments and one optional argument
def my_function(a, b, *args):
    return a ** b + args[0] - args[1] * args[2]

print(my_function(2, 4, 3, 5, 6))

-11

In [53]:
# Function with two arguments and one optional argument
def my_function(**kwargs):
    return kwargs["a"] ** kwargs["b"]

print(my_function(a = 3, b = 2))

9

### Area of circle

In [54]:
#  Import math pachage: value of PI
import math

In [55]:
def area_circle(radius: float) -> float:
    # Calculation of area of circle
    area = 0
    try:
        area = math.pi * radius ** 2
    except:
        print("Some Error")
    return area

In [56]:
area_5 = area_circle(5)

In [57]:
def area_ring(radius_out: float, radius_in=0):
    # Calculation of area of ring
    area = 0
    try:
        area = math.pi * radius_out ** 2 - math.pi * radius_in ** 2
    except:
        print("Some Error")
    return area

In [58]:
area_ring(5)

78.53981633974483