### 122XSUP - Strojové učení a umělá inteligence v prostředí Python

<h5 style='color:orange'><em>Week 2: Python: funkce, soubory, parametry. List, Tuple, Set, Dictionary. String. Nested. Generator. Deepcopy.</em></h5>

#### Few usefull commands

In [1]:
#  help

help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [2]:
# dir - list of methodes

dir(print)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [3]:
# uniq id of object
a = 5

id(a)

140705400484776

In [5]:
# clear variable
b = 'Hello'
print(b)

del b

print(b)

Hello

NameError: name 'b' is not defined

#### Local and Global Variables

In [6]:
# Global variable
a = 4

def own_function():
    # Local variable
    a = 5

own_function()
print(a)

4

In [7]:
# Global variable
a = 4

def own_function():
    # Global variable
    global a
    a = 5

own_function()
print(a)

5

#### Function

* def function():
* input parameters
* output parameters / return
* args and kwargs

In [8]:
# Void function without arguments
# Using for starting project or for making structure of program
def my_function():
    pass

In [9]:
# Function with two arguments
def my_function(a, b):
    return a ** b

my_function(2, 4)

16

In [10]:
# Function with two arguments
def my_function(a, b):
    return a ** b

my_function(b=2, a=4)

16

In [11]:
# Function with two arguments and one optional argument
def my_function(a, b, c=0):
    return a ** b + c

print(my_function(2, 4))
print(my_function(2, 4, 3))

16
19

In [12]:
# Function with two arguments and one optional argument
def my_function(a, b, *args):
    return a ** b + args[0] - args[1] * args[2]

print(my_function(2, 4, 3, 5, 6))

-11

In [13]:
# Function with two arguments and one optional argument
def my_function(**kwargs):
    return kwargs["a"] ** kwargs["b"]

print(my_function(a = 3, b = 2))

9

#### File: opening, reading and writing

In [14]:
'''
r  - read
w  - write (existing file will be erased)
a  - append
r+ - read and write
b  - binary format
'''
f = open('RawData/sample.txt', 'r', encoding="utf-8")  # open file
read_data = f.read()  # read file
f.close()  # close file

print(f)
print(f.closed)
print(read_data)

<_io.TextIOWrapper name='RawData/sample.txt' mode='r' encoding='utf-8'>
True
Hello
World

In [15]:
#  good practice (donnt need close file)
with open('RawData/sample.txt', 'r', encoding="utf-8") as f:
    read_data = f.read()

print(f.closed)
print(read_data)

True
Hello
World

In [16]:
#  read by lines from file
with open('RawData/sample.txt', 'r', encoding="utf-8") as f:
    for line in f:
        print(line, end='')

#  or you could use: f.readline()

Hello
World

In [17]:
# Reading from file to list
with open('RawData/sample.txt', 'r', encoding="utf-8") as f:
    file_list = list(f)

file_list

['Hello\n', 'World']

In [18]:
# Reading from file to list
with open('RawData/sample.txt', 'r', encoding="utf-8") as f:
    file_list = f.readlines()

file_list

['Hello\n', 'World']

In [19]:
#  creating directory
!mkdir Output
#  writing to file
with open('Output/test.txt', 'w', encoding="utf-8") as f:
    f.write('This is a test\n')

# appending to existing file
with open('Output/test.txt', 'a', encoding="utf-8") as f:
    f.write('This is a second test\n')

A subdirectory or file Output already exists.

#### Advance data types

##### List
* Ordered <span style='color:orange'>(*have a defined order, and that order will not change*)</span>
* Mutable or **Changeable** <span style='color:orange'>(*we can change, add, and remove items in a list after it has been created*)</span>
* Allow duplicate values <span style='color:orange'>(*lists can have items with the same value*)</span>
* Indexed <span style='color:orange'>(*the first item has index [0], the second item has index [1] etc.*)</span>

In [20]:
my_list = [1, 'Hello', 2.543]
print(type(my_list))
my_list

<class 'list'>

[1, 'Hello', 2.543]

In [21]:
print(my_list[0])
print(my_list[2])
print(my_list[-1])

1
2.543
2.543

In [22]:
# Slicing
print(my_list[0:2])  # items first and second in list

print(my_list[:2])  # items from begining to second

print(my_list[1:])  # items from second to end

print(my_list[-3:-1])  # items from first to second

print(my_list[::2])  # with step 2

print(my_list[::-1])  # reverse order

[1, 'Hello']
[1, 'Hello']
['Hello', 2.543]
[1, 'Hello']
[1, 2.543]
[2.543, 'Hello', 1]

In [23]:
# chek if item is in list
n = 1
if n in my_list:
    print(f'{n} is in list!')
else:
    print(f'{n} is not in list!')

1 is in list!

In [24]:
# Initialization new list
new_list = []

# Add item to list
new_list.append(5)
new_list.append("Text")
new_list.append(6)

new_list

[5, 'Text', 6]

In [25]:
# Changing list
new_list[0] = 4
new_list

[4, 'Text', 6]

In [26]:
# changing range of items
new_list[0:2] = [3, 2]
new_list

[3, 2, 6]

In [27]:
# insert item on position
new_list.insert(1, 7)
new_list

[3, 7, 2, 6]

In [28]:
# join list
first_list = [1, 2]
second_list = [3, 4]

first_list + second_list

[1, 2, 3, 4]

In [29]:
# Loop list
list_text = ['First', 'Second', 'etc']
for n in list_text:
    print(n)

First
Second
etc

In [30]:
# Loop list
list_text = ['First', 'Second', 'etc']
print(f'List has {len(list_text)} items')
print(f'Range of list: {range(len(list_text))}')

for n in range(len(list_text)):
    print(list_text[n])

List has 3 items
Range of list: range(0, 3)
First
Second
etc

In [31]:
#  loop list with key and value
list_text = ['First', 'Second', 'etc']

for key, value in enumerate(list_text):
    print(f'"{value}" as {key} item')

"First" as 0 item
"Second" as 1 item
"etc" as 2 item

In [32]:
# List comprehensive
list_int = [n for n in range(5,50,7)]
list_int

[5, 12, 19, 26, 33, 40, 47]

In [33]:
# List comprehensive with condition if
list_int = [n for n in range(5,50,7) if n % 2 == 0]
list_int

[12, 26, 40]

In [34]:
# List comprehensive with condition if / else
list_int = [n if n % 2 == 0 else 0 for n in range(5,50,7)]
list_int

[0, 12, 0, 26, 0, 40, 0]

**<span style="color:yellow">Homework: </span>**

Study others list methods:
* extend
* pop
* remove
* clear
* sort
* copy
* count
* index
* reverse

Source: https://www.w3schools.com/python/python_lists_methods.asp

##### Tuples (used to store multiple items in a single variable)
* Ordered <span style='color:orange'>(*have a defined order, and that order will not change*)</span>
* Immutable or **Unchangeable** <span style='color:orange'>(*we can not change or add or remove items in tuple after it has been created*)</span>
* Allow duplicate values <span style='color:orange'>(*tuples can have items with the same value*)</span>
* Indexed <span style='color:orange'>(*the first item has index [0], the second item has index [1] etc.*)</span>

In [35]:
my_tuple = ("First", "Second", 1, "etc")

print(type(my_tuple))

my_tuple

<class 'tuple'>

('First', 'Second', 1, 'etc')

In [36]:
# Error when we try to change item

my_tuple[2] = 1

TypeError: 'tuple' object does not support item assignment

In [37]:
print(my_list)
print(tuple(my_list))

[1, 'Hello', 2.543]
(1, 'Hello', 2.543)

In [38]:
print(type(("First",)))

# NOT a tuple
print(type(("First")))

<class 'tuple'>
<class 'str'>

In [39]:
# Access to tuple (same as list)
my_tuple = ("First", "Second", 1, "etc")

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:])

First
etc
('Second', 1, 'etc')

In [40]:
# chek if item is in tuple
n = 1
if n in my_tuple:
    print(f'{n} is in tuple!')
else:
    print(f'{n} is not in tuple!')

1 is in tuple!

In [41]:
#  how to change unchanable tuple or remove/add item
my_tuple = ("First", "Second", 1, "etc")

temp_list = list(my_tuple)

temp_list[0] = "Changing item"

my_tuple = tuple(temp_list)

my_tuple

('Changing item', 'Second', 1, 'etc')

In [42]:
#  loop through tuple (same way as list)
my_tuple = ("First", "Second", 1, "etc")

for n in my_tuple:
    print(n)

First
Second
1
etc

In [43]:
#  loop through tuple (same way as list)
my_tuple = ("First", "Second", 1, "etc")

for key, value in enumerate(my_tuple):
    print(f'Access through key: "{my_tuple[key]}" is the same as value: "{value}"')

Access through key: "First" is the same as value: "First"
Access through key: "Second" is the same as value: "Second"
Access through key: "1" is the same as value: "1"
Access through key: "etc" is the same as value: "etc"

In [44]:
# Unpack tuple
my_tuple = ("First", "Second", 1, "etc")

(first_item, second_item, *third_item) = my_tuple

print(first_item)
print(second_item)
print(third_item)

First
Second
[1, 'etc']

**<span style="color:yellow">Homework: </span>**

Study others tuple methods:
* count
* index

Source: https://www.w3schools.com/python/python_tuples_methods.asp

In [45]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

##### Set (used to store multiple items in a single variable)
* Unordered <span style='color:orange'>(*items in a set do not have a defined order.*)</span>
* Immutable or **Unchangeable** <span style='color:orange'>(*we can not change items in set after it has been created*)</span>
* Duplicates Not Allowed <span style='color:orange'>(*sets cannot have two items with the same value.*)</span>
* Unindexed

In [46]:
my_set = {"First", "Second", 1, "etc"}

print(type(my_set))

my_set

<class 'set'>

{1, 'First', 'Second', 'etc'}

In [47]:
# True = 1 = 1.0 as one item in set
my_set = set(("First", "Second", 1, "etc", True, 1.0))  # double brackets!!!

my_set

{1, 'First', 'Second', 'etc'}

In [48]:
# chek if item is in set
n = 1
if n in my_set:
    print(f'{n} is in set!')
else:
    print(f'{n} is not in set!')

1 is in set!

In [49]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [50]:
#  adding/removing items
 
my_set = {"First", "Second", 1, "etc"}

print(f'Set has length {len(my_set)}')
print(my_set)

my_set.add(999)

print(f'Set has length {len(my_set)}')
print(my_set)

my_set.remove('Second')

print(f'Set has length {len(my_set)}')
print(my_set)

# my_set.remove('Second')
my_set.discard('Second')  

print(f'Set has length {len(my_set)}')
print(my_set)

Set has length 4
{'First', 'Second', 'etc', 1}
Set has length 5
{1, 999, 'First', 'Second', 'etc'}
Set has length 4
{1, 999, 'First', 'etc'}
Set has length 4
{1, 999, 'First', 'etc'}

**<span style="color:yellow">Homework: </span>**

Study others set methods:
* clear
* copy
* union / difference / intersection / update* 

Source: https://www.w3schools.com/python/python_sets_methods.asp

##### Dictionary (used to store data values in key:value pairs)
* Ordered <span style='color:orange'>(*have a defined order, and that order will not change after v.3.7*)</span>
* Mutable or **Changeable** <span style='color:orange'>(*we can change, add, and remove items in a dictionary after it has been created*)</span>
* Duplicates **Not Allowed** <span style='color:orange'>(*dictionaries cannot have two items with the same key*)</span>

In [51]:
my_dict = {
    "name": "Petr",
    "adress": "Praha",
    "age": 18,
}

print(type(my_dict))
my_dict

<class 'dict'>

{'name': 'Petr', 'adress': 'Praha', 'age': 18}

In [52]:
my_dict = dict(name="Petr", adress="Praha", age=18)
my_dict

{'name': 'Petr', 'adress': 'Praha', 'age': 18}

In [53]:
#  access to dictionary
my_dict['age']

18

In [54]:
#  if key doesnt exist, use get
print(my_dict.get('age'))
print(my_dict.get('aggggge'))
print(my_dict.get('aggggge', "No exist"))

18
None
No exist

In [55]:
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

dict_keys(['name', 'adress', 'age'])
dict_values(['Petr', 'Praha', 18])
dict_items([('name', 'Petr'), ('adress', 'Praha'), ('age', 18)])

In [56]:
my_dict = dict(name="Petr", adress="Praha", age=18)

# chek if item is in dictionary
n = "name"
if n in my_dict:
    print(f'{n} is in dictionary!')
else:
    print(f'{n} is not in dictionary!')

name is in dictionary!

In [57]:
#  changing dictionary
my_dict["name"] = "Pavel"
my_dict

{'name': 'Pavel', 'adress': 'Praha', 'age': 18}

In [58]:
#  changing dictionary
my_dict.update({"name": "Jan"})
my_dict

{'name': 'Jan', 'adress': 'Praha', 'age': 18}

In [59]:
#  adding items
my_dict["birth_year"] = 1995
my_dict

{'name': 'Jan', 'adress': 'Praha', 'age': 18, 'birth_year': 1995}

In [60]:
#  looping through dictionary
print("All key names:")
for n in my_dict:
    print(n)
print("\n")

print("All key names:")
for n in my_dict.keys():
    print(n)
print("\n")

print("All values:")
for n in my_dict:
    print(my_dict[n]) 
print("\n")

print("All values:")
for n in my_dict.values():
    print(n) 
print("\n")

print("All key names and values:")
for n, m in my_dict.items():
    print(n, m) 
print("\n")

All key names:
name
adress
age
birth_year


All key names:
name
adress
age
birth_year


All values:
Jan
Praha
18
1995


All values:
Jan
Praha
18
1995


All key names and values:
name Jan
adress Praha
age 18
birth_year 1995

**<span style="color:yellow">Homework: </span>**

Study others dictionary methods:
* clear
* copy
* fromkeys
* pop
* popitem  

Source: https://www.w3schools.com/python/python_dictionaries_methods.asp

##### String

In [61]:
# change 'Hello world!' to 'HEAAO'

my_str = "Hello world!"

# changing string step by step in one row
my_str = my_str[:5].lower().replace("l","a").upper()

my_str

'HEAAO'

In [62]:
# change symbol in string in position with slicing
my_str = "Hello world!"

# slicing
my_str = my_str[:4] + 'O' + my_str[5:]

my_str

'HellO world!'

In [63]:
# change symbol in string in position with slicing
my_str = "Hello world!"

# convertion to list
my_list = list(my_str)
print(my_list)

# change item in list
my_list[4] = 'O'
print(my_list)

# convertion to string
my_str = ''.join(my_list)

my_str

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']
['H', 'e', 'l', 'l', 'O', ' ', 'w', 'o', 'r', 'l', 'd', '!']

'HellO world!'

In [64]:
# chr and ord
print(chr(66))
print(ord('A'))

B
65

In [65]:
# using join in string
my_list = [67, 68, 54, 99, 56]

my_str = ' '.join(chr(n) for n in my_list)

my_str

'C D 6 c 8'

#### Nested list/dictionary or multidimensional array

In [66]:
multi_list = [[1, 0], [5, 4], [3, 0]]
multi_list

[[1, 0], [5, 4], [3, 0]]

In [67]:
# first place in second item
multi_list[1][0]

5

#### Copy and deepcopy

In [68]:
# Assignment statements do not copy objects, they create bindings between a target and an object
my_list_1 = [1, 5, 0, 'Test', False]
my_list_2 = my_list_1

print(my_list_1)
print(my_list_2)

[1, 5, 0, 'Test', False]
[1, 5, 0, 'Test', False]

In [69]:
print(id(my_list_1))
print(id(my_list_2))

1491761661440
1491761661440

In [70]:
my_list_1[0] = 999

print(my_list_1)
print(my_list_2)

[999, 5, 0, 'Test', False]
[999, 5, 0, 'Test', False]

In [71]:
# shallow copy with copy()
my_list_1 = [1, 5, 0, 'Test', False]
my_list_2 = my_list_1.copy()

print(my_list_1)
print(my_list_2)

[1, 5, 0, 'Test', False]
[1, 5, 0, 'Test', False]

In [72]:
print(id(my_list_1))
print(id(my_list_2))

1491761973824
1491762057920

In [73]:
my_list_1[0] = 999

print(my_list_1)
print(my_list_2)

[999, 5, 0, 'Test', False]
[1, 5, 0, 'Test', False]

In [74]:
#  package for copy
import copy  

# deep copy with deepcopy()
my_list_1 = [1, 5, 0, 'Test', False, [8, 7]]
my_list_2 = copy.deepcopy(my_list_1)

my_list_2[5][0] = 88

print(my_list_1)
print(my_list_2)

[1, 5, 0, 'Test', False, [8, 7]]
[1, 5, 0, 'Test', False, [88, 7]]

In [75]:
nested_list = [88, 77]

print(my_list_1)
print(my_list_2)

[1, 5, 0, 'Test', False, [8, 7]]
[1, 5, 0, 'Test', False, [88, 7]]

##### Generator

In [76]:
# generator function that yields 1 for first time, 2 second time and 3 third time
def simpleGenerator():
    yield 1            
    yield 2            
    yield 3            
   
# Driver code to check above generator function
for value in simpleGenerator(): 
    print(value)

1
2
3

In [77]:
# generator expression
generator_exp = (i * 5 for i in range(5) if i%2==0)
  
for i in generator_exp:
    print(i)

0
10
20

#### Example 1 with file

* Read data from file 'Input/data.txt'. In each row must be an integer number.
* Check data (type integer), remove non integer data
* Write to file only integer data
* print message about removed data

In [78]:
# Reading data from file to list
name_file_input = 'Input/data.txt'

with open(name_file_input, 'r', encoding="utf-8") as f:
    raw_data = list(f)

print(f'File {name_file} has {len(raw_data)} rows')
if len(raw_data) > 0:
    print(f'First 5 values from file {name_file}: {raw_data[:5]}')

NameError: name 'name_file' is not defined

In [79]:
# Clearing and checking data
error_file = 0
clean_data = []

for n in raw_data:
    try:
        clean_data.append(float(n))
    except:
        error_file += 1

print(f'Data from file: {clean_data}')
print(f'Errors in file: {error_file}')

Data from file: [1254.0, 125.45, 0.546, 789.0, 101010.0, 6.0, 0.0]
Errors in file: 1

In [80]:
#  converting data to int
import math

output_data = []

print(f'Raw data: {clean_data[:10]}')

for key, value in enumerate(clean_data):
    value = math.ceil(value)  # round  up

    # value = math.floor(value)  # round down

    # value = round(value)  # round

    # value = round(value, 2)  # round to 2 decimal
    
    output_data.append(value)

print(f'Output data: {output_data[:10]}')

Raw data: [1254.0, 125.45, 0.546, 789.0, 101010.0, 6.0, 0.0]
Output data: [1254, 126, 1, 789, 101010, 6, 0]

In [81]:
#  writing output data to file
name_file_output = 'Output/data.txt'

with open(name_file_output, 'w', encoding="utf-8") as f:
    for n in output_data:
        f.write(f'{n}\n')

print(f'Clean data was saved to file: {name_file_output}')
print(f'Errors in file ({error_file}) were removed.')

Clean data was saved to file: Output/data.txt
Errors in file (1) were removed.

#### Example 2 with file

* Open file 'Input/data_2.csv' for reading
* Read data in format csv (separator ;). 
* Check data format:
    * name: string
    * age: int (18-99)
    * adres: string
    * profit: float (-1 000 000  -- 1 000 000)
* Remove blank data or data with errors
* Clean data (change wrong symboles, remove whitespace symbols)
* Open 'Output/data_2.txt' for writing
* Write output data as list of dictionary
* Print message about convertion

In [82]:
# Reading data from file
file_name_input = 'Input/data_2.csv'
with open(file_name_input, 'r', encoding="utf-8") as f:
    lines = [line.rstrip() for line in f]  # remove ending string from data

print(f'"{len(lines)} rows were reading from file {file_name_input}"')
lines[:5]

"6 rows were reading from file Input/data_2.csv"

['Petr Novak;25;Praha;245.45',
 'Jan Svoboda;32;Brno;1054,64',
 'Pavel Pospichal;38;Ostrava;-501',
 'Dominik Sulc;18;Praha;107.65',
 '124 Petr;20;Plzen;500.04']

In [83]:
# Parsing data
parsing_data = []

for line in lines:
    line_data = line.split(';')
    parsing_data.append(line_data)

parsing_data

[['Petr Novak', '25', 'Praha', '245.45'],
 ['Jan Svoboda', '32', 'Brno', '1054,64'],
 ['Pavel Pospichal', '38', 'Ostrava', '-501'],
 ['Dominik Sulc', '18', 'Praha', '107.65'],
 ['124 Petr', '20', 'Plzen', '500.04'],
 ['Tomas Pokorny', 'age', 'Olomouc', '1005003000650.545064665']]

In [84]:
# user function for cleaning
def cleaning_data(input_value, input_type, min_value=None, max_value=None):

    input_value = input_value.strip()

    # clearing int and float value
    if input_type == int or input_type == float:
        input_value = input_value.replace(',', '.')
        try: 
            input_value = input_type(input_value)
        except:
            return False
        
        if min_value:
            if input_value < min_value:
                return False
        
        if max_value:
            if input_value > max_value:
                return False
                
        
        return input_value
        
    # clearing string value
    if input_type == str:
        if any(i.isdigit() for i in input_value):
            return False
        return input_value.title()
    
    return False

In [85]:
#  cleaning data
number_of_errors = 0
output_list = []
output_structure = ['Name', 'Age', 'Adress', 'Profit']
id_number = 0

for line in parsing_data:

    error_in_line = 0
    output_dict_line = {}
    for key, value in enumerate(line):

        if key == 0:
            #  name
            clean_value = cleaning_data(value, str)
        elif key == 1:
            #  age
            clean_value = cleaning_data(value, int, 18, 99)
        elif key == 2:
            #  adress
            clean_value = cleaning_data(value, str)
        elif key == 3:
            #  profit
            clean_value = cleaning_data(value, float, -1_000_000, 1_000_000)
        else:
            clean_value = False

        if clean_value == False:
            error_in_line = 1
            break

        output_dict_line[output_structure[key]] = clean_value
    
    if error_in_line == 0:
        id_number += 1
        output_list.append(output_dict_line)
    else:
        number_of_errors += 1
        
print(f'File has {number_of_errors} errors')
print(f'{len(output_list)} rows were converted')
output_list[:10]

File has 2 errors
4 rows were converted

[{'Name': 'Petr Novak', 'Age': 25, 'Adress': 'Praha', 'Profit': 245.45},
 {'Name': 'Jan Svoboda', 'Age': 32, 'Adress': 'Brno', 'Profit': 1054.64},
 {'Name': 'Pavel Pospichal', 'Age': 38, 'Adress': 'Ostrava', 'Profit': -501.0},
 {'Name': 'Dominik Sulc', 'Age': 18, 'Adress': 'Praha', 'Profit': 107.65}]

In [86]:
# Writing clean data ad dictionary to file
file_name_output = 'Output/data_2.txt'
with open(file_name_output, 'w', encoding="utf-8") as f:
    for line in output_list:
        f.write(str(line) + '\n')

print(f'"{len(output_list)} rows were writing to file {file_name_output}"')

"4 rows were writing to file Output/data_2.txt"