## 122XSUP - Strojové učení a umělá inteligence v prostředí Python

<h5 style='color:orange'><em>Week 4: Analýza dat pomocí Python. Knihovny Python. NymPy a Pandas. CSV soubory.</em></h5>

### Usefull packages in Python

In [ ]:
# URL protocols
"""
Working with URLs and web protocols. 
It includes functions for opening and closing network connections, 
sending and receiving data, and parsing URLs. 
"""
import urllib.request

request_url = urllib.request.urlopen('https://www.robostav.cz/') 
print(request_url.read())

In [ ]:
#  Parsing and Web Scraping
"""
Library for parsing HTML and XML documents. 
It creates parse trees from the documents that can be used 
to extract data from HTML and XML files with a simple and intuitive API. 
"""
# %pip install requests
# %pip install html5lib
# %pip install beautifulsoup4

import requests 
from bs4 import BeautifulSoup 

URL = "http://www.values.com/inspirational-quotes"
r = requests.get(URL) 

soup = BeautifulSoup(r.content, 'html5lib') # If this line causes an error, run 'pip install html5lib' or install html5lib 
print(soup.prettify())

In [ ]:
# Image
"""
Image manipulation
PIL allows manipulating, opening, and saving various image file formats in Python
"""
# %pip install Pillow

from PIL import Image
 
# img/logo_b.png => location_of_image
img = Image.open(r"img/logo_b.png")
print(img.size)
print(img.format)
img.show()

# Jupyter Notebook with matplotlib

# import matplotlib.pyplot as plt
# plt.imshow(img)

In [ ]:
#  Data
"""
The collection Module in Python provides different types of containers.
Container is an object that is used to store different objects and 
provide a way to access the contained objects and iterate over them.
"""
from collections import Counter
    
# sequence of items
print(Counter(['B','B','A','B','C','A','B', 'B','A','C']))


# from collections import deque
# from collections import UserDict, UserList, UserString
# from collections import ChainMap

In [ ]:
#  Data FIFO / LIFO
"""
Queue is built-in module of Python which is used to implement a queue.
"""
from queue import Queue

In [ ]:
# OS and sys packages
"""
The sys module in Python provides various functions and variables that are used 
to manipulate different parts of the Python runtime environment. 
"""
import sys

print(sys.version)


"""
The OS module in Python provides functions for interacting with the operating system.
"""
import os

# Get the current working directory (CWD)  
cwd = os.getcwd()  
      
# Print the current working directory (CWD)  
print("Current working directory:", cwd)

In [ ]:
# Math package
"""
Python has a built-in module that you can use for mathematical tasks.
"""
import math

# Return the cosine of different numbers
print (math.cos(10))

In [ ]:
#  Date package
"""
A date in Python is not a data type of its own, 
but we can import a module named datetime to work with dates as date objects.
"""
import datetime

print(datetime.datetime.now())

In [ ]:
#  Time package
"""
Time module allows to work with time in Python. 
It allows functionality like getting the current time, 
pausing the Program from executing, etc.
"""
import time

curr = time.time()
print(f"Current time in seconds since epoch ={curr}")

In [ ]:
import time
 
for i in range(4):
    # using sleep() to halt execution
    time.sleep(1)
    print(i)

### NumPy 1D array

* NumPy is used for working with arrays
* NumPy is short for "Numerical Python"

In [ ]:
from importlib.metadata import version 
version('numpy')

In [ ]:
%pip show numpy

In [ ]:
import numpy as np
print(np.__version__)

# Creating Arraya with int
arr = np.array([1, 2, 3, 4, 5])

print(arr)
print(type(arr))
print(arr.dtype)

In [ ]:
# Creating Array with float
arr = np.array([1.2, 2, 3, 4, 5])

print(arr)
print(type(arr))
print(arr.dtype)

In [ ]:
arr = np.array([1, 2, 3, 4, 5])

# size of array
print(arr.size)

# dimension of array
print(arr.ndim)

# size of each dimension of array
print(arr.shape)

In [ ]:
arr = np.array([[1, 2], [2, 3], [4, 5]])

# size of array
print(arr.size)

# dimension of array
print(arr.ndim)

# size of each dimension of array
print(arr.shape)

In [ ]:
arr = np.array([1, 2, 3, 4, 5])

# indexing and access
print(f'{arr[0]=}')
print(f'{arr[1]=}')

# changing
arr[1] = 5
print(f'{arr[1]=}')

arr

In [ ]:
# slicing
b = arr[1:5]
b

In [ ]:
b[1:3] = 300, 400
b

##### Basic operations

In [ ]:
# vector addition with list
u = [1, 0]
v = [0, 1]

z = []

for n, m in zip(u, v):
    z.append(n + m)

print(list(zip(u, v)),'\n')

print(f'{z=}')

In [ ]:
# vector addition with numpy

u = np.array([1, 0])
v = np.array([0, 1])

z = u + v

print(f'{z=}')

In [ ]:
# other operations with numpy

u = np.array([1, 2])
v = np.array([3, 4])

print(u + 1)  # additional with scalar / broadcasting

print(u - v)  # substraction

print(2 * u)  # multiplication with Scalar

print(u * v)  # product

print(np.dot(u, v))  # dot product (uTv)

##### Universal functions

In [ ]:
a = np.array([1, 2, 3, 4])

print(a.mean())  # average value: (1 + 2 + 3 + 4) / 4

print(a.max())  # max value

print(a.min())  # min value

In [ ]:
# Get the standard deviation of numpy array

standard_deviation=a.std()  # ( ((2.5 - 1)^2 + ... + (2.5 - 4)^2) / 4 )^(1/2)
standard_deviation

In [ ]:
# calculation sin for array in numpy

print(np.pi)

x = np.array([0, np.pi/2, np.pi])

y = np.sin(x)

y

In [ ]:
# creating interval for plotting function

np.linspace(-2, 2, num=9)

In [ ]:
# Make a numpy array within [0, 2π] and 100 elements 

x = np.linspace(0, 2*np.pi, num=100)
x

In [ ]:
y = np.sin(x)

In [ ]:
# %pip install matplotlib

import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline
plt.plot(x, y)

### NumPy 2D Array

In [ ]:
arr = np.array([[11, 12, 13], [21, 22, 23], [31, 32, 33]])

# size of array
print(arr.size)

# dimension of array
print(arr.ndim)

# size of each dimension of array
print(arr.shape)  # (3 rows, 3 cols)

<img src="img/2Darray.png" width="300">

In [ ]:
# Access the element on the second row and third column

print(arr[1, 2])
print(arr[1][2])

<img src="img/2Darray-2.png" width="300">

In [ ]:
# Access the element on the first row and first and second columns

arr[0][0:2]

<img src="img/2Darray-3.png" width="300">

In [ ]:
# Access the element on the first and second rows and third column

arr[0:2, 2]

##### Basic operations

<img src="img/addition.png" width="500">

In [ ]:
# Create a numpy array X

X = np.array([[1, 0], [0, 1]]) 
X

In [ ]:
# Create a numpy array Y

Y = np.array([[2, 1], [1, 2]]) 
Y

In [ ]:
# Add X and Y

Z = X + Y
Z

<img src="img/multiply.png" width="500">

In [ ]:
# Create a numpy array Y

Y = np.array([[2, 1], [1, 2]]) 
Y

In [ ]:
# Multiply Y with 2

Z = 2 * Y
Z

<img src="img/product.png" width="500">

In [ ]:
# Create a numpy array Y and X

Y = np.array([[2, 1], [1, 2]])
X = np.array([[1, 0], [0, 1]])

In [ ]:
# Multiply X with Y / Product

Z = X * Y
Z

Dot product:

<img src="img/dot_product.png" width="600">

In [ ]:
# Create a matrix A

A = np.array([[0, 1, 1], [1, 0, 1]])

# Create a matrix B

B = np.array([[1, 1], [1, 1], [-1, 1]])

In [ ]:
# Calculate the dot product

Z = np.dot(A,B)
Z

In [ ]:
# Calculate the sine of Z

np.sin(Z)

In [ ]:
# Create a matrix C

C = np.array([[1,1],[2,2],[3,3]])
C

In [ ]:
# Get the transposed of C

C.T

In [ ]:
# Changig shape of matrix

A = np.array([[1,1],[2,2],[3,3]])

A = np.reshape(A, (2, 3))
print(A)

A = np.reshape(A, (1, 6))
print(A)

*Images source: IBM Developer Skills Network*

<hr>

### Introduction to Pandas in Python

#### Pandas: DataFrame and Series 

**Pandas** is a popular library for data analysis built on top of the Python programming language. Pandas generally provide two data structures for manipulating data, They are: 
 
* DataFrame
* Series

A **DataFrame** is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

* A Pandas DataFrame will be created by loading the datasets from existing storage. 
* Storage can be SQL Database, CSV file, an Excel file, etc. 
* It can also be created from the lists, dictionary, and from a list of dictionaries.

**Series** represents a one-dimensional array of indexed data.
It has two main components :
1. An array of actual data.
2. An associated array of indexes or data labels.

The index is used to access individual data values. You can also get a column of a dataframe as a **Series**. You can think of a Pandas series as a 1-D dataframe.

In [ ]:
# Import required library

import pandas as pd

In [ ]:
# Define a dictionary 'x'

x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

# casting the dictionary to a DataFrame
df = pd.DataFrame(x)

# display the result df
df

In [ ]:
# Dataframe
# Retrieving the "ID" column and assigning it to a variable x
x = df[['Name']]
x

In [ ]:
# Serie
# Retrieving the "ID" column and assigning it to a variable s
s = df['Name']
s

<h5 id="dataset">About the Dataset</h5>

The table has one row for each album and several columns.

<ul>
    <li><b>artist</b>: Name of the artist</li>
    <li><b>album</b>: Name of the album</li>
    <li><b>released_year</b>: Year the album was released</li>
    <li><b>length_min_sec</b>: Length of the album (hours,minutes,seconds)</li>
    <li><b>genre</b>: Genre of the album</li>
    <li><b>music_recording_sales_millions</b>: Music recording sales (millions in USD)</li>
    <li><b>claimed_sales_millions</b>: Album's claimed sales (millions in USD)</li>
    <li><b>date_released</b>: Date on which the album was released</li>
    <li><b>soundtrack</b>: Indicates if the album is the movie soundtrack (Y) or (N)</li>
    <li><b>rating_of_friends</b>: Indicates the rating from your friends from 1 to 10</li>
</ul>

You can see the dataset here:

<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

In [ ]:
# Dependency needed to install file for reading for Excel files

# %pip install xlrd
# %pip install openpyxl

In [ ]:
# Read data from CSV file

csv_path = 'data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

# Print first five rows of the dataframe

df.head()

In [ ]:
# Read data from Excel File and print the first five rows

xlsx_path = 'data/TopSellingAlbums.xlsx'

df = pd.read_excel(xlsx_path)
df.head()

# Print first three rows of the dataframe

df.head(3)

In [ ]:
# Access to the column Length

x = df[['Length']]
print(x)
print(type(x))

In [ ]:
# Get the column as a series

x = df['Length']
print(x)
print(type(x))

In [ ]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

**loc** and **iloc**

In [ ]:
# Access the value on the first row and the first column

df.iloc[0, 0]

In [ ]:
# Access the value on the second row and the first column

df.iloc[1, 0]

In [ ]:
# Access the value on the second row and the third column

df.iloc[1, 2]

<img src="img/pandas-1.png" width="750">

In [ ]:
# Access the column using the name

df.loc[0, 'Artist']

In [ ]:
# Access the column using the name

df.loc[1, 'Released']

<img src="img/pandas-2.png" width="750">

In [ ]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

<img src="img/pandas-3.png" width="750">

In [ ]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

<img src="img/pandas-4.png" width="750">

In [ ]:
# creating new index

new_index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']


df_new = df
df_new.index = new_index
print(df_new.loc['a', 'Artist'], '\n')
print(df_new.loc['a':'d', 'Artist'])
df_new

In [ ]:
# changing index

df_new = df
df_new = df_new.set_index("Artist")
df_new

In [ ]:
df_new.loc['Michael Jackson', 'Album']

#### Usefull methods in Pandas

In [ ]:
# fisrt rows (default 5)
df.head(2)

In [ ]:
# last rows (default 5)
df.tail(2)

In [ ]:
df.shape

#### Statistical Overview of dataset

In [ ]:
df.info()

Pandas **describe()** is used to view some basic statistical details like percentile, mean, standard deviation, etc. of a data frame or a series of numeric values. When this method is applied to a series of strings, it returns a different output

In [ ]:
df.describe()

We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:


**.isnull()**

**.notnull()**

The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

In [ ]:
# Count missing values in each column

for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

In Pandas, we use 
<p><b>.dtype()</b> to check the data type</p>
<p><b>.astype()</b> to change the data type</p>

In [ ]:
df.dtypes

In [ ]:
df

In [ ]:
# changing type
df[['Rating', 'Music Recording Sales (millions)']] = df[['Rating', 'Music Recording Sales (millions)']].astype('int64')
df

In [ ]:
# using dictionary to convert specific columns
convert_dict = {'Rating': float,
                'Music Recording Sales (millions)': int
                }
 
df = df.astype(convert_dict)

In [ ]:
# changing with iloc
df.iloc[:, 5] = df.iloc[:, 5].astype('float64')
df

#### Clean data with Pandas

Within pandas, a missing value is denoted by **NaN**. (np.nan, pd.NA)

In [1]:
import pandas as pd

df = pd.read_csv('data/TopSellingAlbums.csv')

print(f'Missing value: {df.isnull().sum()}')

# remove rows with missing value
new_df = df.dropna()

print(new_df.to_string())  # convert print to matrix

new_df

Missing value: Artist                              0
Album                               0
Released                            0
Length                              0
Genre                               0
Music Recording Sales (millions)    0
Claimed Sales (millions)            0
Released.1                          0
Soundtrack                          6
Rating                              0
dtype: int64
            Artist                 Album  Released   Length           Genre  Music Recording Sales (millions)  Claimed Sales (millions) Released.1 Soundtrack  Rating
3  Whitney Houston         The Bodyguard      1992  0:57:44  R&B, soul, pop                              27.4                        44  17-Nov-92          Y     8.5
6         Bee Gees  Saturday Night Fever      1977  1:15:54           disco                              20.6                        40  15-Nov-77          Y     7.0

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0

In [ ]:
# using inplace=True
import pandas as pd

df = pd.read_csv('data/TopSellingAlbums.csv')

# remove rows with missing value
df.dropna(inplace=True)

df

In [ ]:
# replace missing value with 222222
import pandas as pd

df = pd.read_csv('data/TopSellingAlbums.csv')

df.fillna(222222, inplace=True)

df

#### Basic operations with Pandas

In [ ]:
import pandas as pd

df = pd.read_csv('data/TopSellingAlbums.csv')

In [ ]:
# meaning value in column
df[['Rating']].mean()

In [ ]:
# standard deviation in column
df[['Rating']].std()

In [ ]:
# max value in column
df[['Rating']].max()

In [ ]:
# min value in column
df[['Rating']].min()

#### Trasform dataframe

In [2]:
import pandas as pd
import numpy as np

# creating a dataframe
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
# applying the transform function
df = df.transform(func = lambda x : x + 10)
df

    a   b   c
0  11  12  13
1  14  15  16
2  17  18  19

In [4]:
# function to find the square root to each element of the dataframe.
result = df.transform(func = ['sqrt'])
result

          a         b         c
       sqrt      sqrt      sqrt
0  3.316625  3.464102  3.605551
1  3.741657  3.872983  4.000000
2  4.123106  4.242641  4.358899

In [5]:
# Insert new column
df['d'] = df['a'] * 2
df

    a   b   c   d
0  11  12  13  22
1  14  15  16  28
2  17  18  19  34

In [6]:
# Remove column name 'd'
df = df.drop(['d'], axis=1)
df

    a   b   c
0  11  12  13
1  14  15  16
2  17  18  19

**Creating** and **changing** column in dataframe **by condition:**

In [10]:
# If condition
df.loc[df['c'] <= 15, 'd'] = 0
df.loc[df['c'] > 15, 'd'] = 1
df[['d']] = df[['d']].astype(int)
df

    a   b   c  d  e  f
0  11  12  13  0  0  0
1  14  15  16  1  0  1
2  17  18  19  1  1  2

In [11]:
# If condition with lambda
df['e'] = df['a'].apply(lambda x: 1 if x > 14 else 0)
df

    a   b   c  d  e  f
0  11  12  13  0  0  0
1  14  15  16  1  0  1
2  17  18  19  1  1  2

In [12]:
# Condition with or/and
df.loc[(df['d'] == 0) | (df['e'] == 0), 'f'] = 0
df.loc[(df['d'] == 1) | (df['e'] == 1), 'f'] = 1
df.loc[(df['d'] != 0) & (df['e'] != 0), 'f'] = 2
df[['f']] = df[['f']].astype(int)
df

    a   b   c  d  e  f
0  11  12  13  0  0  0
1  14  15  16  1  0  1
2  17  18  19  1  1  2

In [13]:
# filtering data

df[df['d'] == 1]

    a   b   c  d  e  f
1  14  15  16  1  0  1
2  17  18  19  1  1  2

In [15]:
# delete row with index

df = df.drop(2)
df

    a   b   c  d  e  f
0  11  12  13  0  0  0
1  14  15  16  1  0  1

### Working with different file formats
* **csv**
* xml
* json
* xlsx

<h5>Read/Save Other Data Formats</h5>

| Data Formate  | Read           | Save             |
| ------------- |:--------------:| ----------------:|
| csv           | `pd.read_csv()`  |`df.to_csv()`     |
| json          | `pd.read_json()` |`df.to_json()`    |
| excel         | `pd.read_excel()`|`df.to_excel()`   |
| hdf           | `pd.read_hdf()`  |`df.to_hdf()`     |
| sql           | `pd.read_sql()`  |`df.to_sql()`     |

In [ ]:
# reading and writing to file
import pandas as pd

df = pd.read_csv('data/TopSellingAlbums.csv')

# remove rows with missing value
df.dropna(inplace=True)

# saving dataframe to file without index
df.to_csv("data/output.csv", sep=";", index=False, header=None)